/*****************************
GLOBAL
*****************************/
/* * {
	outline: 1px solid #000 !important;
} */

body {
	/* font-family: "Courier New", Courier, monospace; */
}

a {
	text-decoration: none !important;
}

pre {
	box-sizing: border-box;
	white-space: pre-wrap;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: auto;
}

/*****************************
SCHEDULE
*****************************/

/*****************************
ERROR COMPONENT
*****************************/

/*****************************
GRID SYSTEM FOR CHAPTERS AND SONGS
*****************************/
.chapter-grid-link:hover {
	background-color: #1d2023;
	border-color: #1d2023;
}

/*****************************
GLOBAL PLAYER
*****************************/
.global-player {
	position: fixed;
	bottom: 0px;
	width: 100%;
	/* background-color: #fff; */
	border-top: 1px solid red;
	padding: 20px;
}
